/* Style for St. Paul's website */

/* Font imports -- TODO: Prune these down to used items */
@font-face {
    font-family: 'Caligraf Thin';
    src: url(./fonts/CaligrafThin.woff2) format('woff2'),
}

@font-face {
    font-family: 'Caligraf Light';
    src: url(./fonts/CaligrafLight.woff2) format('woff2'),
}

@font-face {
    font-family: 'Caligraf Medium';
    src: url(./fonts/CaligrafMedium.woff2) format('woff2'),
}

@font-face {
    font-family: 'Gotham Thin';
    src: url(./fonts/GOTHAM-THIN.woff2) format('woff2');
}

@font-face {
    font-family: 'Gotham Light';
    src: url(./fonts/GOTHAM-LIGHT.woff2) format('woff2');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url(./fonts/GOTHAM-MEDIUM.woff2) format('woff2');
}

@font-face {
    font-family: 'Gotham Book';
    src: url(./fonts/Gotham-Book.woff2) format('woff2');
}

@font-face {
  font-family: 'Sabon';
  src: url(./fonts/Sabon.woff2) format('woff2');
}

@font-face {
  font-family: 'Sabon Italic';
  src: url(./fonts/SabonItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Sabon Bold';
  src: url(./fonts/SabonBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Sabon Bold Italic';
  src: url(./fonts/SabonBoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Book Antiqua';
  src: url(./fonts/bookantiqua.woff2) format('woff2');
}

@font-face {
    font-family: 'Book Antiqua Bold';
    src: url(./fonts/bookantiqua_bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Book Antiqua Italic';
    src: url(./fonts/bookantiquaitalic.woff2) format('woff2');
}

@font-face {
    font-family: 'Book Antiqua Bold Italic';
    src: url(./fonts/bookantiquabolditalic.woff2) format('woff2');
}

@font-face {
    font-family: 'Royal Grande Light';
    src: url(./fonts/RoyalGrande-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Royal Grande Medium';
    src: url(./fonts/RoyalGrande-Medium.woff2) format('woff2');
}

/* Global styles */
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

.crimsonrow {
    background-color: #b72125;
    padding: 50px;
    padding-top: 40.92px;
    padding-bottom: 40.92px;
}

.riverrow {
    background-color: #3c5d8d;
    padding: 50px;
}

.toprow {
    padding: 50px;
}

.middlerow {
    background-color: #f9f0e8;
    padding: 50px;
}

.bottomrow {
    padding: 50px;
}

.hover-light:hover {
    color: #E8D6CE !important;
    text-decoration-line: none !important;
}

.w3-bar-item {
    color: #B5A69F !important;
    text-decoration-line: none !important;
        font-size: 18px !important;
}

.w3-bar, .w3-button, .w3-btn {
    background-color: #474040;
    font-family: 'Gotham Book', serif;
    text-transform: uppercase;
    color: #8B7B77;
    letter-spacing: .15em;
}


h1, h2, h3, h4, p {
  color: #685c59;
  text-align: left;
}

h1 {
    font-size: 58px;
}

h2 {
    font-family: 'Gotham Book', serif;
    letter-spacing: .15em;
  	font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Gotham Book', sans-serif;
    letter-spacing: .15em;
    font-size: 22px;
    text-transform: uppercase;
    color: #6F6259
}

h4 {
    font-family: 'Gotham Book', serif;
    letter-spacing: .15em;
    font-size: 18px; 
    text-transform: uppercase;
    color: #8B7B77;
    margin-block-end: .2em;
}

p {
  	font-size: 1em;
    font-family: 'Book Antiqua', serif;
}

p.description {
    font-family: 'Book Antiqua', serif;
    font-size: .9em;
    color: #8B7B77;
}

p.copy {
    font-family: 'Book Antiqua', serif;
    font-size: 1.5em;
    color: #8B7B77;
}

button {
    color: #8B7B77 !important;
    border: 1px solid #8B7B77 !important;
}
#showHideButton:hover {
    color: #B5A69F !important;
    border: 1px solid #B5A69F !important;
    background-color:rgba(0,0,0,0) !important;
}

.logo {
    font-family: 'Royal Grande Light', serif;
    font-size: 124px;
    letter-spacing: -.02em;
    margin-block-start: .33em;
    margin-block-end: .33em;
}

.whitelogo {
    color: #ffff;
}
.image {
    width: 600px;
}

.logo2 {
    font-family: 'Royal Grande Light', serif;
    font-size: 172px;
    letter-spacing: -.02em;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

p.logo2subhead {
    font-family: 'Gotham Medium', serif;
    font-size: 34px;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-block-start: -.6em;
    margin-block-end: 1.2em;
}

.fontsample {
    font-size: 68px;
}

.caligraf {
    font-family: 'Caligraf Light', serif;
    color: #b72125 !important;
}

.gotham {
    font-family: 'Gotham Book', serif;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 52px !important;
}

.bookantiqua {
    font-family: 'Book Antiqua', serif;
    font-size: 60px !important;
}

.bookantiquaitalic {
    font-family: 'Book Antiqua Italic', serif !important;
    font-size: 60px !important;
}

.nopadding {
    padding: 0 !important;
}


/* Specific styles for the website */

h1.sph1a {
    font-family: 'Gotham Book', serif !important;
    font-size: 48px !important;
    letter-spacing: .15em !important;
  	font-weight: normal !important; 
    text-transform: uppercase !important;
    color: #231F20 !important;
}

h1.sph1c {
    font-family: 'Caligraf Light', serif;
    font-size: 48px !important;
    text-transform: -0.1em !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
    /* color: #231F20 !important; */
    color: #b72125 !important;
}

h2.sph2a {
    font-family: 'Gotham Book', serif !important;
  	font-size: 36px !important;
    font-weight: normal !important;
    letter-spacing: .15em !important;
    text-transform: uppercase !important;
    color: #474040 !important;
}

h3.sph3a {
    font-family: 'Gotham Book', sans-serif !important;
    font-size: 28px !important;
    letter-spacing: .15em !important;
    text-transform: uppercase !important;
    color: #685C59 !important;
}

h3.sph3b {
    font-family: 'Gotham Book', sans-serif !important;
    font-size: 28px !important;
    letter-spacing: .15em !important;
    text-transform: uppercase !important;
    color: #3c5d8d !important;
}

h4.sph4a {
    font-family: 'Gotham Book', serif !important;
    letter-spacing: .15em !important;
    font-size: 24px !important; 
    text-transform: uppercase !important;
    color: #8B7B77 !important;
}

h4.sph4b {
    font-family: 'Gotham Book', serif !important;
    letter-spacing: .15em !important;
    font-size: 24px !important; 
    text-transform: uppercase !important;
    color: #b72125 !important;
}

h5.sph5a {
    font-family: 'Gotham Medium', serif !important;
    letter-spacing: .15em !important;
    font-size: 18px !important; 
    text-transform: uppercase !important;
    color: #b5a69f !important;
}

h6.sph6a {
    font-family: 'Gotham Medium', serif !important;
    letter-spacing: .15em !important;
    font-size: 14px !important; 
    text-transform: uppercase !important;
    color: #b5a69f !important;
}

h6.sph6b {
    font-family: 'Book Antiqua', serif !important;
    font-size: 13px !important;
    letter-spacing: .05em !important;
  	font-weight:bold !important; 
    text-transform: uppercase !important;
    color: #685C59 !important;
}

p.spbody1 {
    font-family: 'Book Antiqua', serif !important;
    font-size: 20px !important;
    color: #8B7B77 !important;
    line-height:normal;
}

.spblockquote {
    font-family: 'Book Antiqua Italic', serif !important;
    font-size: 20px !important;
    color: #8B7B77 !important;
    line-height:normal;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    /*border-left: 4px solid #8B7B77; */
}

p.textcolor {
    font-family: 'Gotham Light', serif !important;
    font-size: 20px !important;
    letter-spacing: .15em !important;
    text-align: center !important;
    vertical-align: center !important;
}

p.textcolor1 {
    background-color: #231F20;
    color:white;
    padding: 25px;
}
p.textcolor2 {
    background-color: #474040;
    color:white;
    padding: 25px;
}
p.textcolor3 {
    background-color: #69605C;
    color:white;
    padding: 25px;
}
p.textcolor4 {
    background-color: #8B7B77;
    color:black;
    padding: 25px;
}
p.textcolor5 {
    background-color: #B5A69F;
    color:black;
    padding: 25px;
}

.alternateHeadings {
    display: none;
}


